.van {
  display: flex;
  flex-direction: column;
}

.van__image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.van__name {
  font-weight: 600;
}

.van__type {
  margin-left: 10px;
}

.explore-vans {
  text-align: center;
  margin-bottom: 40px;
}

.van__info-top {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.van__price {
  font-weight: 600;
  font-size: 18px;
}

.van__type {
  background: gray;
  color: white;
  padding: 1px 3px 1px 3px;
  border-radius: 3px;
}

.van__type--simple {
  background-color: #588157;
}

.van__type--luxury {
  background: #fb8500;
}

.van__type--rugged {
  background-color: #023047;
}
