.footer {
  background-color: #252525;;
  color: #AAAAAA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  flex-shrink: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
  z-index: 99;
}